<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title></title>
</head>
<body>
    <h1>Введіть координати в десяткових градусах, приклад: 49.хххх, 24.хххх</h1>

    <label for="latitude">Ширина:</label>
    <input type="text" id="latitude" name="latitude" min="4" max="100" />

    <label for="longitude">Довгота:</label>
    <input type="text" id="longitude" name="longitude" min="4" max="100" />

</body>
</html>